<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <style>
            .delete{
                padding:2px 5px;
                border:solid black 1px;
                cursor: pointer;
                width:80px;
                background-color:#ddd;
                text-align:center;
                margin-bottom:10px;
                display: block;
                text-decoration:none;
            }
        </style>
        
    </head>
<body>

    {% csrf_token %}
    <h1> {{ user.username }}'s stuff</h1>
    <h3>reservations</h3>
    <ul>
    {% for reservation in myres %}
        <li><strong><a href='/event/{{ reservation.event_id }}'>{{ reservation.name }}</a></strong><br />
        
        {{reservation.day}} @ {{ reservation.begin }}<br />
        {{ reservation.duration }} hours
        
    {% endfor %}
    </ul>
    
    <h3>resources</h3>
    <ul>
    {% for event in myevents %}
        <li><a href='/event/{{ event.id }}'><strong>{{ event.name }}</strong></a><br />
        {{ event.start }} -  {{ event.end }}</li>
    {% endfor %}
    </ul>
    
    </body>
</html>